*.class
*.classpath
*.iml
target/
**/bin/
/.settings/
eclipse-target/
**/src/generated/
**/tmp/

.classpath
.project
.settings/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

**/.vscode/**
#ignore all bin dirs but NOT rust/src/bin dirs
**/bin/
!**/rust/src/bin/
!**/rust/ivanderk/src/bin/